*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(100, 169, 223);
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.logo-imagm{
    width: 50px;
    height: 50px;
    background-color: rgb(74, 135, 228);
    border-radius: 25px;

}
.container-logo{
    display: flex;
    align-items: center;

}
.logo-texto{
    margin-left: 20px;
}

.menu li{
    display: inline-block;
    margin: 0 10px;
}
.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 10px;
}
.menu li a:hover{
    background-color: rgb(100, 100, 100, 0.8);
}