header {
    background-color: #424E61;
    color: white;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424e61, #4ebfe9);
    color: white;
    display: flex;
}
.empresa-div-conteudo{
    width: 35%;
}
.empresa-titulo{
    padding: 24px 0;
}
.empresa{
    background-image: linear-gradient(#424E61, #4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
body {
    font-family: 'Poppins', sans-serif;
}


